.form__title {
    text-align: center;
}

.form__container {
    margin: 60px 0 0;
    padding: 45px 40px;
    border: var(--border-width) solid var(--c-dark);
    border-radius: 30px;
}

.form__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form__label {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid var(--c-dark);
}

.form__input:first-child {
    margin-top: 0;
}

.form__input, .form__textarea {
    width: 100%;
    margin: 28px 0;
    padding: 8px 0;
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 1px solid var(--c-dark);
    background: transparent;
    font-size: 16px;
    line-height: 20px;

    &::placeholder {
        color: var(--c-dark);
        font-weight: 300;
    }
}

.form__textarea {
    height: 120px;
    resize: none;
    line-height: 4ch;
    overflow: hidden;
    background-image: linear-gradient(transparent, transparent calc(4ch - 1px), var(--c-dark) 0px);
    background-size: 100% 4ch;
    background-position: 0 -1px;
    padding: 0;
    border: 0 none;
}

.form__or {
    display: block;
    text-align: center;
    margin: 10px 0 15px;
    color: var(--c-dark);
}

.form__file {
    display: none;
}

.form__checkbox {
    margin-right: 10px;
}

.form__action {
    display: flex;
    justify-content: center;
    margin-top: 37px;
}

.form__checkbox-label {
    position: relative;
    display: flex;
    flex-direction: row;

    input {
        visibility: hidden;
    }

    span {
        margin-left: 10px;
        display: block;
        color: var(--c-dark);
        font-weight: 300;
        font-size: 12px;

        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 0px;
            width: 28px;
            height: 28px;
            border: var(--border-width) solid var(--c-dark);
            border-radius: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            top: -2px;
            left: 7px;
            width: 28px;
            height: 28px;
            background: none;
        }
    }

    input:checked + span::after {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" fill="none"><path fill="%23352958" d="M5.043 21.188c0-.234-.045-.351-.135-.351l-.621.297c0-.126-.072-.216-.216-.27l-.216-.027c-.144 0-.324.063-.54.189a1.889 1.889 0 0 0-.135-.27 3.669 3.669 0 0 1-.135-.243c-.234-.45-.468-.945-.702-1.485-.216-.558-.423-1.089-.621-1.593-.18-.504-.324-.9-.432-1.188a10.817 10.817 0 0 1-.243-1.053c-.09-.468-.18-1.062-.27-1.782.198.126.351.189.459.189.126 0 .243-.189.351-.567.054.072.153.108.297.108.108 0 .189-.036.243-.108l.432-.648.486.162h.027c.036 0 .072-.018.108-.054a.628.628 0 0 1 .162-.108c.144-.09.252-.135.324-.135l.081.027c.45.216.738.612.864 1.188.324 1.368.648 2.052.972 2.052.324 0 .702-.342 1.134-1.026.216-.342.432-.738.648-1.188.234-.45.468-.954.702-1.512.036.216.072.324.108.324.09 0 .243-.225.459-.675.234-.45.603-1.071 1.107-1.863.288-.486.648-1.035 1.08-1.647.45-.612.927-1.242 1.431-1.89.504-.648.99-1.26 1.458-1.836.486-.576.918-1.071 1.296-1.485.378-.414.657-.684.837-.81.684-.468 1.224-.918 1.62-1.35a2.006 2.006 0 0 1-.081.351c-.018.09-.027.153-.027.189 0 .072.036.108.108.108l.756-.378v.108c0 .144.036.216.108.216.054 0 .162-.081.324-.243.162-.162.252-.279.27-.351l-.054.378.918-.54-.216.486c.288-.198.495-.297.621-.297.072 0 .126.045.162.135a.48.48 0 0 1 .054.216c0 .108-.045.234-.135.378-.09.144-.207.315-.351.513-.108.144-.288.36-.54.648-.234.27-.594.675-1.08 1.215a85.223 85.223 0 0 0-1.944 2.187c-.216.234-.549.648-.999 1.242-.45.576-.963 1.251-1.539 2.025-.558.756-1.116 1.521-1.674 2.295-.558.774-1.053 1.476-1.485 2.106a22.138 22.138 0 0 0-.918 1.377l-1.674 2.835-.891 1.512c-.234.378-.414.639-.54.783-.27.324-.567.612-.891.864l-.243-.135-.216.135-.243.27Z"/></svg>') no-repeat center center;
    }
}

.form__file-label {
    position: relative;
    display: flex;
    flex-direction: row;

    input {
        visibility: hidden;
    }

    span {
        margin-top: 10px;
        margin-left: 35px;
        display: block;
        color: var(--c-dark);

        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 0px;
            width: 28px;
            height: 28px;
            border: var(--border-width) solid var(--c-dark);
            border-radius: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: 0px;
            width: 28px;
            height: 28px;
            background: none;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"><path fill="%23352958" fill-rule="evenodd" d="m10.24 4.507 1.19 1.155-5.277 5.284a.682.682 0 0 0 0 .962.652.652 0 0 0 .92-.002l5.806-5.815a2.177 2.177 0 0 0 0-3.076c-.809-.813-2.24-.795-3.032.002L3.508 9.36a3.673 3.673 0 0 0 0 5.189c1.39 1.397 3.777 1.375 5.145-.001l7.392-7.402 1.19 1.156-7.39 7.4c-2.017 2.028-5.48 2.061-7.53 0a5.303 5.303 0 0 1 .002-7.496l6.338-6.343c1.44-1.448 3.947-1.48 5.417 0a3.808 3.808 0 0 1 0 5.382l-5.804 5.812c-.898.914-2.4.918-3.309.003a2.312 2.312 0 0 1 .002-3.268l5.28-5.285Z" clip-rule="evenodd"/></svg>') no-repeat center center;
        }
    }
}