@use 'root' as *;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1249px // xxl: 1320px
) !default;

$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

$container-padding-x: $grid-gutter-width !default;

$font-size-root:            16px;
$body-font-family:          'Panton', sans-serif;

$color-dark:                var(--c-dark);
$color-light:               var(--c-light);
$color-loading:             var(--c-loading);
$color-disabled:            var(--c-disabled);
$color-error:               var(--c-error);

$body-text-color:           var(--c-text);
$header-text-color:         var(--c-header-text);

$font-size-base:              var(--base-font-size); // Assumes the browser default, typically `16px`

$line-height-base:            1.5 !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
) !default;